/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

.bibleItem .chapter{fontSize:12px;color:#ff0000;}
.bibleItem .verse{fontSize:12px;color:#0000ff;}
.bibleItem .content{fontSize:16px;}
.bibleItem .title{fontSize:12px;color:#999999;textAlign:right;}